In [1]:
a <- c(1,2,3,4,5,6)

In [2]:
a

[1] 1 2 3 4 5 6

In [3]:
10 -> d
d

[1] 10

In [4]:
a + 2

[1] 3 4 5 6 7 8

In [5]:
a + c(1,2,3,4)

Warning message in a + c(1, 2, 3, 4):
"longer object length is not a multiple of shorter object length"

[1] 2 4 6 8 6 8

In [6]:
a + c(2,4)

[1]  3  6  5  8  7 10

In [7]:
a - c(1,1,1)

[1] 0 1 2 3 4 5

In [8]:
a - 7

[1] -6 -5 -4 -3 -2 -1

In [9]:
a - c(7)

[1] -6 -5 -4 -3 -2 -1

In [10]:
a * c(1,2)

[1]  1  4  3  8  5 12

In [11]:
a -> heythere
heythere

[1] 1 2 3 4 5 6

In [12]:
for (i in seq(1,6))
{
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

In [13]:
testvar <- 10
while (testvar > 2)
{
    print(testvar)
    testvar = testvar - 1
}

[1] 10
[1] 9
[1] 8
[1] 7
[1] 6
[1] 5
[1] 4
[1] 3

In [14]:
count <- 1
repeat {
    print(count)
    count = count + 1
    if(count == 9)
        break
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8

In [15]:
a <- 5
if(a < 10) 
{
    print(a)
} else {
    print("NOPE")
}

[1] 5

In [16]:
a <- 5
if(a < 10) 
{
    print(a)
} 
else 
{
    print("NOPE")
}

ERROR: Error in parse(text = x, srcfile = src): <text>:6:1: unexpected 'else'
5: }
6: else
   ^

In [1]:
a <- 5 & 6
a

[1] TRUE

In [2]:
c <- 5 && 6
c

[1] TRUE

In [2]:
a1 <- 1234.1234
a1

[1] 1234.123

In [3]:
a2 <- 1234.34e5
a2

[1] 123434000

In [4]:
a3 <- 1234.34e+5
a3

[1] 123434000

In [5]:
a4 <- 1234.34e-5
a4

[1] 0.0123434

In [6]:
a5 <- 1234.34E+5
a5

[1] 123434000

In [7]:
a6 <- 1234.34E-5
a6

[1] 0.0123434

In [9]:
a7 <- 1234.34E-5.8
a7

ERROR: Error in parse(text = x, srcfile = src): <text>:1:17: unexpected numeric constant
1: a7 <- 1234.34E-5.8
                    ^

In [10]:
a8 <- "asdaiosdjaso&^#$@!@!"
a8

[1] "asdaiosdjaso&^#$@!@!"

In [11]:
a9 <- "sdasdasdasdasdasd'asSzsZs"
a9

[1] "sdasdasdasdasdasd'asSzsZs"

In [12]:
a10 <- 'asdasdasd"asdasdasdasd'
a10

[1] "asdasdasd\"asdasdasdasd"